@media (min-width: 1600px){
  .hero {
    background-image: url('/photos/DSC01810-1920.webp');
  }
}
@media (min-width: 1200px) and (max-width: 1599px){
  .hero {
    background-image: url('/photos/DSC01810-1600.webp');
  }
}
@media (min-width: 1024px) and (max-width: 1119px){
  .hero {
    background-image: url('/photos/DSC01810-1200.webp');
  }
}
@media (min-width: 800px) and (max-width: 1023px){
  .hero {
    background-image: url('/photos/DSC01810-1024.webp');
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .hero {
    background-image: url('/photos/DSC01810-800.webp');
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .hero {
    background-image: url('/photos/DSC01810-600.webp');
  }
}

@media (max-width: 399px) {
  .hero {
    background-image: url('/photos/DSC01810-400.webp');
  }
}
